$def with (data)
$var title: Welcome
$var css: welcome.css
$var scripts: welcome.js lib/js.cookie.js

<div class="main" >
  this is a blurb about the premise
</div>
<div class="login" >
  <form id="login_form" >
    <input type="text" placeholder="name" name="username" />
    <input type="password" placeholder="****" name="password" />
    <button id="login_btn" >login</button>
  </form>
  <form id="register_form" >
    <input type="text" placeholder="name" name="username" />
    <input type="password" placeholder="****" name="password" />
    <button id="register_btn" >register</button>
  </form>
</div>
